@model List<Team>

    var n = 0;
}

  

@if (ViewBag.User == null)
{
    <h2>Please Login or Register To Compare Your Brackets</h2>

    <div>
        <p>Unfortunately you do not have access to this feature.</p>
    </div>
}
else if (ViewBag.BracketId.Count == 0 || ViewBag.BracketId.Count == 1)
{
    <h2>There Are No Brackets To Compare!</h2>
    <div>
        <p>Please go make multiple brackets so you can compare them.</p>
        <a href="~/Bracket/CreateBracket" class="btn btn-info" role="button">Create A Bracket</a>
    </div>
}
else
{
    

    <h1>Compare Your Bracket(s)</h1>

    <div>
        @for (int i = 0; i < ViewBag.BracketId.Count; i++)
        {
            <a class="btn btn-secondary" asp-controller="Bracket" asp-action="Index" asp-route-bracketId="@ViewBag.BracketId[i].Id">@ViewBag.BracketId[i].Id</a>
        }
    </div>
    <br />
    <div>
        <a href="~/Home" class="btn btn-info" role="button">Go Back Home</a>
    </div>
}