@model List<Team>



<form asp-controller="Bracket" asp-action="CompareBracket" method="post">
    @for (int i = 0; i < 4; i++)
    {
        <div>
            <div class="round r-of-4">
                <div class="bracket-game">
                    <div class="player top ">

                        <select @*id="team" name="team"*@>
                            @foreach (var team in ViewBag.Teams)
                            {
                                @if (team.Name_en != "--")
                                {
                                    <option value="@team.Name_en">@team.Name_en</option>
                                }
                            }
                        </select>

                        @* <div class="score">
                    3
                    </div>*@
                    </div>
                    <div class="player bot ">
                        <select id="teams" name="teams">
                            <option value="Colombia">Colombia</option>
                        </select>
                        @* <div class="score">
                    1
                    </div>*@
                    </div>
                    @**@
                </div>
                <div class="bracket-game cont">
                    <div class="player top ">
                        <select id="teams" name="teams">
                            <option value="Croatia">Croatia</option>
                        </select>
                        @* <div class="score">
                    0
                    </div>*@
                    </div>
                    <div class="player bot ">
                        <select id="teams" name="teams">
                            <option value="United States">United States</option>
                        </select>
                        @*<div class="score">
                    3
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="connectors r-of-2">
                <div class="top-line"></div>
                <div class="clear"></div>
                <div class="bottom-line"></div>
                <div class="clear"></div>
                <div class="vert-line"></div>
                <div class="clear"></div>
                <div class="next-line"></div>
                <div class="clear"></div>
            </div>
            <div class="round r-of-2">
                <div class="bracket-game">
                    <div class="player top ">
                        <select id="teams" name="teams">
                            <option value="India">India</option>
                        </select>
                        @* <div class="score">
                    2
                    </div>*@
                    </div>
                    <div class="player bot ">
                        <select id="teams" name="teams">
                            <option value="Chile">Chile</option>
                        </select>
                        @* <div class="score">
                    3
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="connectors r-of-2">
                <div class="top-line"></div>
                <div class="clear"></div>
                <div class="bottom-line"></div>
                <div class="clear"></div>
                <div class="vert-line"></div>
                <div class="clear"></div>
                <div class="next-line"></div>
                <div class="clear"></div>
            </div>
        </div> @*TEST DIV ENDS HERE!!!!!*@
        <div class="round semi-finals">
            <div class="bracket-game">
                <div class="player top">
                    <select id="teams" name="teams">
                        <option value="United Kingdom">United Kingdom</option>
                    </select>
                </div>
            </div>
        </div>
        @if (i != 1 && i != 3)
        {
            <div class="round finals">
                <div class="bracket-game">
                    <div class="player top">
                        <select id="teams" name="teams">
                            <option value="Argentina">Argentina</option>
                        </select>
                    </div>
                </div>
            </div>
            @if (i == 2)
            {
                <div class="round winner">
                    <div class="bracket-game">
                        <select value="teams" name="teams">
                            <option value="Zhang Xina">Zhang Xina</option>
                        </select>
                    </div>
                </div>
            }
        }
        <div class="clear"></div>

        @*Winner dropmenu starts here*@
    }
    <input class="mySubmit" type="submit" />
</form>
